body {
  position: relative;
}

form {
  margin: 0 auto;
  padding: 2%;
}
.submit {
  text-align: center !important;
}

select {
  font-family: "Cairo", sans-serif;
  background-color: #7c3e66;
  color: white;
  font-size: 1vw;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}
select:hover {
  border-color: #999;
}

select:focus {
  border-color: #f6f6f6;
  outline: none;
}
label{
  margin-top: 3.5%;
}
textarea {
  line-height: 3 !important;
}

input[type="search"]{
  padding: 7px !important;
}
input[type="text"],
input[type="tel"],
textarea {
  border: 1px solid #7c3e66;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  background-color: transparent;
  
  color: black;
  font-family: "Cairo", sans-serif;
 
}

input[type="submit"] {
  background-color: #7c3e66;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding: 2%;
  margin-top: 5%;
  font-family: "Cairo", sans-serif;
}

input[type="submit"]:hover {
  background-color: #ffbaba;
  color: black;
}

img{
  max-width: 100%;
  max-height: 50%;
  min-width: 100%;
  min-height: 50%;
}
.shadow {
  background-color: rgba(60, 57, 57, 0.63);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.type-select{
  text-align: center;
}

#filterBtn {
  background-color: #ffbaba;
  border: none;
  border-radius: 5px;
  color: #7c3e66;
  
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.notFound{
  margin: 12% 0px;
  color: #7e3c66 !important;
  
}

#closeForm {
  background-color: transparent;
  color: #7c3e66;
  position: absolute;
  top: 1%;
  right: 1%;
  border: none !important;
}
#closeForm:hover,
#closeForm:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 640px){
  #myForm{
    width: 80% !important;
  }
  label{
    margin-top: 1.5%;
  }
 textarea{
  line-height: 2.5 !important;
 }
 .charities-list{
  padding-top: 20%;
 }
}