body {
  /* background-color: #2a3554; */
  background-image: url("images/anas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  font-family: "Cairo", sans-serif;
}

h1 {
  font-size: 30px;
  color: #c21010;
  margin-bottom: 35px;
  font-family: "Lemonada", cursive;
  text-align: center;
  font-weight: bolder;
}

select {
  font-family: "Cairo", sans-serif;
  background-color: #ffffff;
  width: 70px;
  color: #333;
  font-size: 16px;
  padding: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  margin: 10px;
  margin-bottom: 25px;
  display: inline;
}

select:hover {
  border-color: #999;
}

select:focus {
  border-color: #333;
  outline: none;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  border: 1px solid #292727;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 8px;
  width: 100%;
  display: inline-block;
  background-color: transparent;
  backdrop-filter: blur(25px);
  color: rgb(0, 0, 0);
  font-family: "Cairo", sans-serif;
}
input[type="password"],
input[type="tel"] {
  text-align: left;
}
input[type="password"] {
  padding-left: 45px;
}

input[type="submit"] {
  background-color: #c21010;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  width: 70%;
  font-family: "Cairo", sans-serif;
  margin-bottom: 5px;
}

input[type="submit"]:hover {
  background-color: #124871;
  color: #fbfbfb;
}
input::placeholder {
  text-align: right;
}



.account-type-select {
  float: left;
}

.city-select {
  float: right;
}

.pass-container {
  position: relative;
}

.sign-up-box {
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;

  padding: 10px 20px;
  /* margin: 20px auto; */
  float: right;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(7px);
  font-family: "Cairo", sans-serif;

  width: 30%;

  height: 100%;
  text-align: center;
}

.show-password-icon {
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
}
#firstName,
#lastName {
  display: inline-block;
  width: 47%;
  text-align: right;
}

#firstName {
  margin-left: 4%;
}

#city-label,
#account-type-label {
  color: rgb(29, 28, 28);
  margin-left: 10px;
}
#city{
  width: 90px;
}
form {
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  body {
    padding: 10px;
    background-image: none;
    background: linear-gradient(to bottom, #b0daff, #19a7ce);
  }
  .sign-up-box {
    width: 95%;
    padding: 10px;
    margin: auto;
    float: none;
  }
  .city-select,
  .account-type-select {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
  }
}
