body {
  background-image: url("images/blue2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Cairo", sans-serif;
}

.login-box {
  border-radius: 20px;
  box-shadow: 0px 0px 70px #152c53d6;
  margin:  9% auto;
  padding: 1%;
  width: 25%;
  text-align: center;
  background-color: #1c3c72d6;
}


input[type="text"],
input[type="password"] {
  border: 1px solid #efe8e8bc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 3% 0%;
  padding: 2.5%;
  width: 100%;
  display: inline-block;
  background-color: #0c3272d6;
  color: white;
  font-family: "Cairo", sans-serif;
  font-size: 1vw;
 
}

input::placeholder {
  text-align: right;
  color: #efe8e883;
  font-size: 1vw;
}

h1 {
  font-size: 2vw;
  color: #efb812;
  margin-bottom: 8%;
  font-family: "Lemonada", cursive;
  font-weight: bolder;
}

p{
  margin-top: 8%;
  margin-bottom: 0px;
  color: white;
  font-size: 1vw;
  
}

a{
  margin-right: 2%;
  text-decoration: none;
  color: #e82424;
  font-size: 1vw;
  font-weight: bolder;
}

input[type="submit"] {
  background-color: #edad34;
  border: none;
  border-radius: 20px;
  color: #1D267D;
  cursor: pointer;
  font-size: 1.1vw;
  margin-top: 10%;
  padding: 2%;
  width: 50%;
  height: 20%;
  font-family: "Cairo", sans-serif;
}

input[type="password"],
input[type="text"] {
  padding-left: 12%;
}

.error{
  color: #E21818;
  text-align: right;
  margin-right: 2%;
  font-family: 'Readex Pro', sans-serif;
  font-size: 0.8vw;
  font-weight: bold;
}

.show-password-icon {
  cursor: pointer;
  position: absolute;
  color: #efe8e8bc;
  top: 40%;
  left: 4%;
  font-size: 1vw;
}
.envelop-icon {
  position: absolute;
  color: #efe8e8bc;
  top: 40%;
  left: 4%;
  font-size: 1vw;
}

.container {
  position: relative;

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  body {
    padding: 10px;
    background-image: none;
    background-color:#dfdc4be2;
  }
  .login-box {
    width: 95%;
    margin: 30% auto;
    padding: 10px;
    border: none;
    box-shadow: none;
  }
  input[type="text"],
  input[type="password"],
  input[type="submit"]{
    font-size: 15px;
  }
  input::placeholder{
    font-size: 0.9rem;
  }
  .error{
    font-size: 0.7rem;
  }
  p{
    font-size: 0.875rem;
  }
  a{
    font-size: 0.875rem;
  }
  .show-password-icon{
    font-size: 1rem;
  }
  .envelop-icon{
    font-size: 1rem;
  }

}